<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Big shope A Ecommerce Category Flat Bootstarp Resposive Website Template | Single :: w3layouts</title>
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--theme-style-->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />	
<link rel="stylesheet" href="css/etalage.css" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--//fonts-->
<script src="/js/jquery.min.js"></script>

<script src="/js/jquery.etalage.min.js"></script>

<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<script>
	jQuery(document).ready(function($){

		$('#etalage').etalage({
			thumb_image_width: 300,
			thumb_image_height: 400,
			source_image_width: 900,
			source_image_height: 1200,
			show_hint: true,
			click_callback: function(image_anchor, instance_id){
				alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
			}
		});

	});
</script>

</head>
<body> 
	<!--header-->
	<div class="header">
		<div class="top-header">
			<div class="container">
				<div class="top-header-left">
					<ul class="support">
						<li><a href="#"><label> </label></a></li>
						<li><a href="#">24x7 live<span class="live"> support</span></a></li>
					</ul>
					<ul class="support">
						<li class="van"><a href="#"><label> </label></a></li>
						<li><a href="#">Free shipping <span class="live">on order over 500</span></a></li>
					</ul>
					<div class="clearfix"> </div>
				</div>
				<div class="top-header-right">
					<div class="down-top">		
						  <select class="in-drop">
							  <option value="English" class="in-of">English</option>
							  <option value="Japanese" class="in-of">Japanese</option>
							  <option value="French" class="in-of">French</option>
							  <option value="German" class="in-of">German</option>
							</select>
					 </div>
					<div class="down-top top-down">
						  <select class="in-drop">
						  
						  <option value="Dollar" class="in-of">Dollar</option>
						  <option value="Yen" class="in-of">Yen</option>
						  <option value="Euro" class="in-of">Euro</option>
							</select>
					 </div>
					<div class="clearfix"> </div>	
				</div>
				<div class="clearfix"> </div>		
			</div>
		</div>
		<div class="bottom-header">
			<div class="container">
				<div class="header-bottom-left">
					<div class="logo">
						<a href="/home"><img src="/images/logo.png" alt=" " /></a>
					</div>
					<div class="search">
						<form th:action="@{/products/title}" method="GET">
							<input type="text" onfocus="this.value = '';"
								onblur="if (this.value == '') {this.value = '';}"
								name="name">
							<input type="submit" value="SEARCH">
						</form>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="header-bottom-right">					
						<div class="account">
							<a href="#" th:if="${checkLogin} == 1" th:text = "${account.fullname}"><span> </span></a>
							<a href="#" th:if="${checkLogin} == 0"><span> </span>YOUR ACCOUNT</a>
						</div>
							<ul class="login">
								<li>
									<a href="/logout" th:if="${checkLogin == 1}" th:text="LOGOUT"><span> </span></a>
									<a href="/login" th:if="${checkLogin == 0}" th:text="LOGIN"><span> </span></a>
								</li>
								<li><a th:if="${checkLogin} == 0" href="/register">| SIGNUP</a></li>
								<li><a th:if="${checkLogin == 1 && account.position == 'admin'}" href="/admin">| ADMIN</a></li>
							</ul>
						<div class="cart">
							<a th:if="${checkLogin} == 1" href="/cart"><span> </span>CART</a>
							<a th:if="${checkLogin} == 0" href="/login"><span> </span>CART</a>
						</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>	
			</div>
		</div>
	</div>
	<!---->
	
	 <div class="container"> 
	 	<div class=" single_top">
	      	<div class="single_grid">
				<div class="grid images_3_of_2">
				<img class="img-responsive" alt="" th:src="${product.image}">
					<div class="clearfix"> </div>		
			  	</div> 
			  	<div class="desc1 span_3_of_2">
					<h4 th:text="${product.title}"></h4>
					<span th:text="${product.author}"></span><br><br>
					<span th:each="havecate : ${haveCategories}" th:text="${havecate.category.name}" style="border: 1px gray; border-radius: 15px; padding: 3px; margin-right: 5px; background-color: rgba(60,67,67,0.1);"></span>
					<div>
						<form class="cart-b" th:action="@{/add/cart/{id}(id=${product.id})}" method="GET">
							<div class="left-n " th:text="${product.price}"></div>
							<div class="input-group quantity mx-auto" style="width: 100px;">
								<div class="input-group-btn">
									<button class="btn btn-sm btn-primary btn-minus" type="button">
									<i class="fa fa-minus"></i>
									</button>
								</div>
								<input type="text" id="quantityInput" class="form-control form-control-sm bg-secondary text-center" name="quantity" value="1">
								<div class="input-group-btn">
									<button class="btn btn-sm btn-primary btn-plus"  type="button">
										<i class="fa fa-plus"></i>
									</button>
								</div>
							</div>
					    	<div><button class="btn btn-primary" type="submit">ADD TO CART</button></div>
					    </form>
					    <div class="clearfix"></div>
					</div>
					<div>
						<h4 style="display: inline-block;">Rating:  </h6>
						<h6 style="display: inline-block;" th:text="${averageStar} + ' / 5'"></h6>
					</div>
				   	<p th:text="${product.description}"></p>
				   	<div class="share">
						<h5>Share Product :</h5>
						<ul class="share_nav">
							<li><a href="#"><img src="/images/facebook.jpg" title="facebook"></a></li>
							<li><a href="#"><img src="/images/twitter.png" title="Twiiter"></a></li>
							<li><a href="#"><img src="/images/rss.png" title="Rss"></a></li>
							<li><a href="#"><img src="/images/gpluse.png" title="Google+"></a></li>
			    		</ul>
					</div>
				</div>
          	    <div class="clearfix"> </div>
       	   	</div>
       	   	<ul id="flexiselDemo1">
       	   		<li th:each="book: ${top6}">
   	   				<div class="grid-flex" style="">
   	   					<a th:href="@{/details/{idB}(idB=${book.id})}">
   	   						<img class="img-responsive" th:src="${book.image}" />
   	   						<h6 th:text="${book.title}" style="line-height: 15px"></h6>
   	   					</a>
   	   				</div>
       	   		</li>
			</ul>
		    <script type="text/javascript">
			 $(window).load(function() {
				$("#flexiselDemo1").flexisel({
					visibleItems: 5,
					animationSpeed: 1000,
					autoPlay: true,
					autoPlaySpeed: 3000,    		
					pauseOnHover: true,
					enableResponsiveBreakpoints: true,
			    	responsiveBreakpoints: { 
			    		portrait: { 
			    			changePoint:480,
			    			visibleItems: 1
			    		}, 
			    		landscape: { 
			    			changePoint:640,
			    			visibleItems: 2
			    		},
			    		tablet: { 
			    			changePoint:768,
			    			visibleItems: 3
			    		}
			    	}
			    });
			    
			});
			</script>
			<script type="text/javascript" src="/js/jquery.flexisel.js"></script>
   	    	<div class="toogle">
	   	    	<div class="tab-content">
					<!-- reviews -->
					<div class="tab-pane show active" id="tab-pane-3" >
						<p class="m_text" th:if="${checkLogin == 0}">* Please log in to comment and rate</p>
						<div class="row">
			   	    		<div  th:if="${checkLogin} == 1" class="col-lg-12">
			   	    			<h3 class="m_3">Ratings</h3>
								<small>Your email address will not be published. Required fields are marked *</small>
								<form onsubmit="return confirm('Do you want to submit this?')" th:action="@{/add/comment-star/{id}(id=${product.id})}" th:object="${comment}" method="GET">
									<div class="d-flex my-3" id="h4">
										<span class="mb-0 mr-2">Your Rating :</span>
										<div class="text-primary d-flex flex-row-reverse" id="h5">
											<input type="radio" name="star" id="rate-5" th:value="5" th:field="${comment.star}">
											<label for="rate-5" class="fas fa-star"></label>
					
											<input type="radio" name="star" id="rate-4" th:value="4" th:field="${comment.star}">
											<label for="rate-4" class="fas fa-star"></label>
					
											<input type="radio" name="star" id="rate-3" th:value="3" th:field="${comment.star}">
											<label for="rate-3" class="fas fa-star"></label>
					
											<input type="radio" name="star" id="rate-2" th:value="2" th:field="${comment.star}">
											<label for="rate-2" class="fas fa-star"></label>
					
											<input type="radio" name="star" id="rate-1" th:value="1" th:field="${comment.star}">
											<label for="rate-1" class="fas fa-star"></label>
										</div>
									</div>
									<h3 class="m_3">Comments</h3>
									<div style="text-align: right;">
										<textarea type="text" name="content" th:value="${comment.content}" style="width: 100%; height: 100px; overflow: hidden; resize: none"></textarea>
										<input type="submit" value="Submit" class="btn btn-primary px-3">
									</div>
								</form>
			   	    		</div>
			   	    		<div class="clearfix"></div>
			   	    		<div class="col-lg-12">
			   	    			<h3 class="m_3" th:text="'Comments (' + ${number} + ')'">Comments</h3>
			   	    			<div class="media mb-4" th:each="cmt: ${comments}">
									<img src="/images/user.jpg" alt="Image" class="img-fluid mr-3 mt-1"
										style="width: 45px;">
									<div class="media-body">
										<h6 style="display: inline-block;" th:text="${cmt.account.fullname}"></h6> | <small th:text="${#dates.format(cmt.time, 'dd-MM-yyyy')}"> - <i></i></small>
										<div class="media-body">
											<div class="text-primary d-flex" id="h5">
												<label th:if="${cmt.star >= 1}" for="rate-5" class="fas fa-star" style="color: #fd4;"></label>
												<label th:if="${cmt.star < 1 && cmt.star != 0}" for="rate-4" class="fas fa-star" style="color: rgb(139, 138, 138);"></label>
												
												<label th:if="${cmt.star >= 2}" for="rate-5" class="fas fa-star" style="color: #fd4;"></label>
												<label th:if="${cmt.star < 2 && cmt.star != 0}" for="rate-4" class="fas fa-star" style="color: rgb(139, 138, 138);"></label>
												
												<label th:if="${cmt.star >= 3}" for="rate-5" class="fas fa-star" style="color: #fd4;"></label>
												<label th:if="${cmt.star < 3  && cmt.star != 0}" for="rate-4" class="fas fa-star" style="color: rgb(139, 138, 138);"></label>
												
												<label th:if="${cmt.star >= 4}" for="rate-5" class="fas fa-star" style="color: #fd4;"></label>
												<label th:if="${cmt.star < 4  && cmt.star != 0}" for="rate-4" class="fas fa-star" style="color: rgb(139, 138, 138);"></label>
												
												<label th:if="${cmt.star >= 5}" for="rate-5" class="fas fa-star" style="color: #fd4;"></label>
												<label th:if="${cmt.star < 5  && cmt.star != 0}" for="rate-4" class="fas fa-star" style="color: rgb(139, 138, 138);"></label>
											</div>
										</div>
										<p th:text="${cmt.content}"></p>
									</div>
								</div>
			   	    		</div>
			   	    	</div>
			   	    </div>
		   	   	</div>
		    </div>	
  		</div>
          	   
          	   <!---->
		<div class="sub-cate">
			<div class=" top-nav rsidebar span_1_of_left">
				<h3 class="cate">CATEGORIES</h3>
				<ul class="menu">
					<ul class="kid-menu" th:each="cate: ${categories}">
						<li class="subitem2"><a th:href="@{/products/category/{id}(id=${cate.id})}" th:text="${cate.name}"></a></li>
					</ul>
				</ul>
			</div>
					<!--initiate accordion-->
			<script type="text/javascript">
				$(function() {
				    var menu_ul = $('.menu > li > ul'),
				           menu_a  = $('.menu > li > a');
				    menu_ul.hide();
				    menu_a.click(function(e) {
				        e.preventDefault();
				        if(!$(this).hasClass('active')) {
				            menu_a.removeClass('active');
				            menu_ul.filter(':visible').slideUp('normal');
				            $(this).addClass('active').next().stop(true,true).slideDown('normal');
				        } else {
				            $(this).removeClass('active');
				            $(this).next().stop(true,true).slideUp('normal');
				        }
				    });
				
				});
			</script>
			<div class=" chain-grid menu-chain">
	     		<a th:href="@{/details/{id}(id=${top1.id})}"><img class="img-responsive chain" th:src="${top1.image}" alt=" " /></a>	   		     		
	     		<div class="grid-chain-bottom chain-watch">
		     		<span class="actual dolor-left-grid" th:text="${top1.price}"></span>
		     		<h6><a th:href="@{/details/{id}(id = ${top1.id})}" th:text="${top1.title}"></a></h6>  		     			   		     										
	     		</div>
	     	</div>
	     	<a class="view-all all-product" th:href="@{/products/category/{id}(id = -1)}">VIEW ALL PRODUCTS<span> </span></a> 	
		</div>
		<div class="clearfix"> </div>			
	</div>
	<!---->
	<div class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="latter">
					<h6>NEWS-LETTER</h6>
					<div class="sub-left-right">
						<form>
							<input type="text" value="Enter email here"onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter email here';}" />
							<input type="submit" value="SUBSCRIBE" />
						</form>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="latter-right">
					<p>FOLLOW US</p>
					<ul class="face-in-to">
						<li><a href="#"><span> </span></a></li>
						<li><a href="#"><span class="facebook-in"> </span></a></li>
						<div class="clearfix"> </div>
					</ul>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="footer-bottom-cate">
					<h6>CATEGORIES</h6>
					<ul>
						<li th:each="cate: ${categories}"><a href="#" th:text="${cate.name}"></a></li>
					</ul>
				</div>
				<div class="footer-bottom-cate bottom-grid-cat">
					<h6>FEATURE PROJECTS</h6>
					<ul>
						<li><a href="#">Curabitur sapien</a></li>
						<li><a href="#">Dignissim purus</a></li>
						<li><a href="#">Tempus pretium</a></li>
						<li ><a href="#">Dignissim neque</a></li>
						<li ><a href="#">Ornared id aliquet</a></li>
						<li><a href="#">Ultrices id du</a></li>
						<li><a href="#">Commodo sit</a></li>
					</ul>
				</div>
				<div class="footer-bottom-cate">
					<h6>TOP BRANDS</h6>
					<ul>
						<li><a href="#">Curabitur sapien</a></li>
						<li><a href="#">Dignissim purus</a></li>
						<li><a href="#">Tempus pretium</a></li>
						<li ><a href="#">Dignissim neque</a></li>
						<li ><a href="#">Ornared id aliquet</a></li>
						<li><a href="#">Ultrices id du</a></li>
						<li><a href="#">Commodo sit</a></li>
						<li ><a href="#">Urna ac tortor sc</a></li>
						<li><a href="#">Ornared id aliquet</a></li>
						<li><a href="#">Urna ac tortor sc</a></li>
						<li ><a href="#">Eget nisi laoreet</a></li>
						<li ><a href="#">Faciisis ornare</a></li>
					</ul>
				</div>
				<div class="footer-bottom-cate cate-bottom">
					<h6>OUR ADDERSS</h6>
					<ul>
						<li>Aliquam metus  dui. </li>
						<li>orci, ornareidquet</li>
						<li> ut,DUI.</li>
						<li >nisi, dignissim</li>
						<li >gravida at.</li>
						<li class="phone">PH : 6985792466</li>
						<li class="temp"> <p class="footer-class">Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</body>
</html>
<script>
    // Lấy element input và các nút
    const quantityInput = document.getElementById('quantityInput');
    const btnMinus = document.querySelector('.btn-minus');
    const btnPlus = document.querySelector('.btn-plus');
    
    // Xử lý sự kiện khi nhấn nút minus
    btnMinus.addEventListener('click', function() {
        // Lấy giá trị hiện tại trong input
        let currentValue = parseInt(quantityInput.value);
        
        // Giảm giá trị đi 1 (hoặc giá trị mong muốn)
        if (currentValue > 1) {
            currentValue -= 1;
            quantityInput.value = currentValue;
        }
    });
    
    // Xử lý sự kiện khi nhấn nút plus
    btnPlus.addEventListener('click', function() {
        // Lấy giá trị hiện tại trong input
        let currentValue = parseInt(quantityInput.value);
        
        // Tăng giá trị lên 1 (hoặc giá trị mong muốn)
        currentValue += 1;
        quantityInput.value = currentValue;
    });
</script>